
body {
  background-image: url(http://teresacollins.typepad.com/.a/6a00d8344adac153ef0120a7df97a5970b-800wi);

}
.container {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  background-color: rgb(240,240,240);
  padding: 20px 20px 20px 20px;
  border-style: double;
  border-color: #f0ff0f;
  border-radius:  20px;
}
h1 {
text-align: center;
}

.cupcake {
  border-style: dotted;
  border-color: blue;
  width: 100%;
  height: 200px;
}

.flashy{
  color: red;
  font-style: italic;
}

.link{
  color: green;
}
.best{
  font-weight: bold;
  color:blue;
}
